.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
    gap:  10px;
    padding: 10px;
}

.item {
  padding: 5px;
  text-align: center;
}
