.container {
  display: flex;
  justify-content: space-between;
}

.title {
  position: relative;
  font-size: 40px;
  margin: 0;
}

.title::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: plum;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.title:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.title:hover {
  cursor: default;
  text-shadow: 5px 5px 2px purple;
}
